* {
  margin: 0;
  padding: 0;
  color: white;
  /*background: #111111;*/
}

body {
  background-image: linear-gradient(to left, rgba(5, 11, 22, 0.9), rgba(17, 5, 20, 0.9)), url("../assets/fondo.jpg");
  background-size: 100%;
  background-repeat: initial;
  background-position: center;
  background-size: 100%;
  overflow-y: hidden;
}

.principal {
  display: grid;
  grid-template-columns: 10% 90%;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.nav {
  grid-area: 1 / 1 / 2 / 2;
  align-items: center;
  border-right: 1px solid white;
  background: rgba(17, 17, 17, 0.65);
  height: 100vh;
}

.contenido {
  grid-area: 1 / 2 / 2 / 3;
  height: 100vh;
  overflow-y: scroll;
}

img {
  display: flex;
  margin: 0 auto;
}

.user {
  width: 75px;
}

.linkedin {
  width: 50px;
}

.github {
  width: 50px;
}

.mail {
  width: 50px;
}

.col-sm-3,
.col-12 {
  padding: 0;
}

.presentacion {
  width: 70%;
  margin: 35vh auto 0;
  text-align: center;
}

.saludo {
  font-size: 3.5em;
}

.descripcion {
  font-size: 1.5em;
}

@media (max-width: 576px) {
  body {
    background-image: linear-gradient(to left, rgba(5, 11, 22, 0.9), rgba(17, 5, 20, 0.9)),
      url("../assets/fondo\ 2.jpg");
  }

  .principal {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 12vh 88vh;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }

  .nav {
    grid-area: 1 / 1 / 2 / 2;
    border-bottom: 1px solid white;
    border-right: none;
    height: auto;
  }

  .contenido {
    grid-area: 2 / 1 / 3 / 2;
    overflow-y: scroll;
    height: auto;
  }

  .user {
    width: 50px;
  }

  .linkedin {
    width: 35px;
  }

  .github {
    width: 35px;
  }

  .mail {
    width: 35px;
  }

  .presentacion {
    width: 95%;
    margin: 35vh auto 0;
    text-align: center;
  }

  .saludo {
    font-size: 2.5em;
  }

  .descripcion {
    font-size: 1.5em;
  }
}

@media screen and (min-width: 577px) and (max-width: 1200px) {
  body {
    background-image: linear-gradient(to left, rgba(5, 11, 22, 0.9), rgba(17, 5, 20, 0.9)),
      url("../assets/fondo\ 2.jpg");
  }

  .principal {
    display: grid;
    grid-template-columns: 15% 90%;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
}
